<h4>Filter</h4>
<mat-form-field>
  <mat-label>Name</mat-label>
  <input
    matInput
    [required]="true"
    [formControl]="name"
  >
</mat-form-field>

<h5>Criteria</h5>

@for (criteria of criterias.controls; track criteria; let idx = $index) {
  <div class="criteria-container">
    <app-criteriarow [criteriaForm]="criteria" [idx]="idx" (removeRow)="removeRow($event)"
                     [criteriasMetadata]="criteriasMetadata"></app-criteriarow>
  </div>
}

<div>
  <button mat-icon-button (click)="addRow()">
    <mat-icon fontIcon="add"></mat-icon>
  </button>
</div>
<div class="create-button">
  <button mat-flat-button type="submit" [disabled]="!filterForm.valid" (click)="submitFilter()">Create</button>
</div>
