<div class="modal-slide">
  <mat-slide-toggle [(ngModel)]="modalToggle">Modal</mat-slide-toggle>
</div>

<div class="buttons">
  @if (modalToggle) {
    <button mat-flat-button (click)="openDialog()">Create new</button>
  }

  @if (!modalToggle) {
    <button mat-flat-button (click)="showNewFilter = true">Create new</button>
  }
  <button class="" mat-stroked-button (click)="showAllFilters = true">Show all</button>
</div>

@if (showNewFilter) {
  <app-filter [criteriasMetadata]="filterMetadataResources"></app-filter>
}

@if (showAllFilters) {
  <app-dashboard></app-dashboard>
}

